:root {

    --accent: #6AF;
    --accent-dark: #00F;

    --primary: #F00;
    --primary-dark: #800;
    --primary-text: #000;

    --light-pink: #f9f;
    --light-blue: #8CF;

    --secondary: #AAA;
    --secondary-dark: #444;
    --secondary-text: #111;

}